@page "/cello"

<Title>
    <TitleText>
        Eco Linen Cello case
    </TitleText>
    <SubtitleText>
        Technological craftsmanship in a natural linen cello case that protects your instrument and your back forever.
    </SubtitleText>
</Title>

<div class="flex flex-col md:flex-row">

    <div class="w-full md:w-2/3">
        <CascadingValue Value="currentStep">

            <Choice Items="CelloFactory.Materials"
                    OnChoiceMade="MaterialChoosen"
                    Step="Step.Material" />


            <Choice Items="CelloFactory.Colors"
                    OnChoiceMade="ColorChoosen"
                    Step="Step.ExtraColor" />

        </CascadingValue>
    </div>
    <div class="w-full md:w-1/3">
        <CascadingValue Value="itemCollection">
            <Basket>
                <Title>
                    Cello
                </Title>
            </Basket>
        </CascadingValue>
    </div>
</div>

@if (currentStep == Step.End)
{
    <p>
        Congratulations! You succeded to configure your case @($"{itemCollection.Total():C}")
    </p>
    <a @onclick="OnEnd" class="btn btn-primary">Go for it!</a>
}

@code {
    private Step currentStep = Step.Material;

    private ItemCollection itemCollection;

    protected override void OnInitialized()
    {
        itemCollection = new ItemCollection();
    }

    private void MaterialChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = Step.ExtraColor;
    }

    private void ColorChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = Step.End;
    }


    private void OnEnd()
    {

    }
}
