@page "/cello"

<h3>Cello</h3>

<div class="row">

    <div class="col-sm-9">
        <CascadingValue Value="currentStep">

            <Choice Items="CelloFactory.CelloMaterials"
                    OnChoiceMade="MaterialChoosen"
                    Step="Step.Material" />


            <Choice Items="CelloFactory.CelloColors"
                    OnChoiceMade="ColorChoosen"
                    Step="Step.ExtraColor" />

        </CascadingValue>
    </div>
    <div class="col-sm-3">

        <div class="list-group">
            @foreach (var group in itemCollection.Grouped)
            {
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@group.Step</h5>
                        <small>@group.Price</small>
                    </div>
                    @foreach (var item in group.Items)
                    {
                        <small>@item.Name</small>
                    }
                </div>
            }
        </div>
    </div>
</div>


@code {
    private Step currentStep = Step.Material;

    private ItemCollection itemCollection;

    protected override void OnInitialized()
    {
        itemCollection = new ItemCollection();
    }

    private void MaterialChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = Step.ExtraColor;
    }

    private void ColorChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = Step.End;
    }
}
