@page "/cello"

<Title>
    <TitleText>
        Choose @currentStep.ToString()
    </TitleText>
    <SubtitleText>
        Cello
    </SubtitleText>
</Title>

<CascadingValue Value="currentStep">
    <ProgressSteps Steps="CelloStepsFactory.Steps" />
</CascadingValue>

<div class="flex flex-col md:flex-row mb-4">

    <div class="w-full md:w-2/3">
        <CascadingValue Value="currentStep">

            <Choice Items="CelloFactory.Materials"
                    OnChoiceMade="MaterialChoosen"
                    Step="CelloStepsFactory.Material" />

            <Choice Items="CelloFactory.Designs"
                    OnChoiceMade="DesignChoosen"
                    Step="CelloStepsFactory.Design" />

            @if (itemCollection.Includes(ItemType.Duplo))
            {
                <Choice Items="CelloFactory.DuploDesigns"
                        OnChoiceMade="DesignDuploChoosen"
                        Step="CelloStepsFactory.DesignColor" />
            }

            @if (itemCollection.Includes(ItemType.Milk))
            {
                <Choice Items="CelloFactory.MilkDesigns"
                        OnChoiceMade="DesignMilkChoosen"
                        Step="CelloStepsFactory.DesignColor" />
            }

            @if (itemCollection.Includes(ItemType.Diagonalink))
            {
                <Choice Items="CelloFactory.DiagonalinkDesigns"
                        OnChoiceMade="DesignDiagonalinkChoosen"
                        Step="CelloStepsFactory.DesignColor" />
            }

        </CascadingValue>

        @if (currentStep == CelloStepsFactory.End)
        {
            <div class="p-8">

                <p class="tracking-wider text-lg text-gray-700 mb-8">
                    Congratulations! You succeded to configure your case
                </p>

                <button class="flex items-center uppercase px-4 py-2 bg-lumasuite text-white text-lg
                    cursor-pointer rounded outline-none focus:outline-none"
                        type="button"
                        @onclick="OrderNow">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                        </path>
                    </svg>
                    <span class="ml-2 hidden md:block">
                        Order Now
                    </span>
                </button>
            </div>
        }
    </div>
    <div class="w-full md:w-1/3">
        <CascadingValue Value="itemCollection">
            <Basket GoBackToStep="GoBack">
                <Title>
                    Selection for your case
                </Title>
            </Basket>
        </CascadingValue>

    </div>
</div>


@code {
    private Step currentStep = CelloStepsFactory.Material;

    private ItemCollection itemCollection;

    protected override void OnInitialized()
    {
        itemCollection = new ItemCollection();
    }

    private void MaterialChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = CelloStepsFactory.Design;
    }

    private void DesignChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = CelloStepsFactory.DesignColor;
    }

    private void DesignMilkChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = CelloStepsFactory.End;
    }
    private void DesignDuploChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = CelloStepsFactory.End;
    }
    private void DesignDiagonalinkChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = CelloStepsFactory.End;
    }

    private void OrderNow()
    {

    }

    private void GoBack(Step step)
    {
        currentStep = step;
    }
}
