@page "/"

<h1>Prouct configurator</h1>

Choose your instrument

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="violin">
            <span class="oi oi-home" aria-hidden="true"></span> Violin
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="accordion">
            <span class="oi oi-plus" aria-hidden="true"></span> Accordion
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="cello">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Cello
        </NavLink>
    </li>
</ul>

