@page "/"

<Title>
    <TitleText>
        Choose your instrument
    </TitleText>
    <SubtitleText>
        Product configurator
    </SubtitleText>
</Title>

<div class="flex flex-col space-y-4 justify-between lg:flex-row lg:space-y-0 lg:space-x-4">

    <InstrumentCard Name="Accordion"
                    Link="accordion"
                    ImageUrl="img/accordion/accordion-cover.jpg" />

    <InstrumentCard Name="Violin"
                    Link="violin"
                    ImageUrl="img/violin/violin-cover.png" />

    <InstrumentCard Name="Cello"
                    Link="cello"
                    ImageUrl="img/cello/cello-cover.png" />

</div>
