@page "/"

<Title>
    <TitleText>
        Choose your instrument
    </TitleText>
    <SubtitleText>
        Product configurator
    </SubtitleText>
</Title>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 ">

    <InstrumentCard Name="Accordion"
                    Link="accordion"
                    ImageUrl="img/test-image.jpg" />

    <InstrumentCard Name="Violin"
                    Link="violin"
                    ImageUrl="img/test-image.jpg" />

    <InstrumentCard Name="Cello"
                    Link="cello"
                    ImageUrl="img/test-image.jpg" />

</div>

