@page "/violin"

<Title>
    <TitleText>
        @if (currentStep.IsEnd())
        {
            <span>Product Configured!</span>
        }
        else
        {
            <span>Choose @currentStep.ToString()</span>
        }
    </TitleText>
    <SubtitleText>
        Product configurator
    </SubtitleText>
</Title>

<CascadingValue Value="currentStep">
    <ProgressSteps Steps="ViolinStepsFactory.StepList" />
</CascadingValue>

<div class="flex flex-col md:flex-row space-x-2 mb-4">

    <div class="w-full md:w-2/3">
        <CascadingValue Value="currentStep">

            <Choice Items="ViolinFactory.Materials"
                    OnChoiceMade="MaterialChoosen"
                    Step="ViolinStepsFactory.Material" />

            <Choice Items="ViolinFactory.Finish"
                    OnChoiceMade="FinishChoosen"
                    Step="ViolinStepsFactory.Finish" />

            <Choice Items="ViolinFactory.Colors"
                    OnChoiceMade="ColorChoosen"
                    Step="ViolinStepsFactory.Color" />

            <Choice Items="ViolinFactory.Designs"
                    OnChoiceMade="DesignChoosen"
                    Step="ViolinStepsFactory.Design" />

            @if (itemCollection.Includes(ItemType.Duplo))
            {
                <Choice Items="ViolinFactory.DuploDesigns"
                        OnChoiceMade="DesignDuploChoosen"
                        Step="ViolinStepsFactory.DesignColor" />
            }

            @if (itemCollection.Includes(ItemType.Milk))
            {
                <Choice Items="ViolinFactory.MilkDesigns"
                        OnChoiceMade="DesignMilkChoosen"
                        Step="ViolinStepsFactory.DesignColor" />
            }

            @if (itemCollection.Includes(ItemType.Diagonalink))
            {
                <Choice Items="ViolinFactory.DiagonalinkDesigns"
                        OnChoiceMade="DesignDiagonalinkChoosen"
                        Step="ViolinStepsFactory.DesignColor" />
            }

        </CascadingValue>

        @if (currentStep == ViolinStepsFactory.End)
        {
            <div class="p-8">

                <LastStep />
            </div>
        }
    </div>

    <div class="w-full md:w-1/3">
        <CascadingValue Value="itemCollection">
            <Basket GoBackToStep="GoBack">
                <Title>
                    Selection for your case
                </Title>
            </Basket>
        </CascadingValue>
    </div>

</div>


@code {
    private Step currentStep = ViolinStepsFactory.Material;

    private ItemCollection itemCollection;

    protected override void OnInitialized()
    {
        itemCollection = new ItemCollection();
    }

    private void MaterialChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);

        if (item.IsCarbon)
        {
            currentStep = ViolinStepsFactory.Finish;
        }
        else currentStep = ViolinStepsFactory.Color;
    }

    private void FinishChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = ViolinStepsFactory.Color;
    }

    private void ColorChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = ViolinStepsFactory.Design;
    }

    private void DesignChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);

        if (item.IsSpecialDesign)
        {
            currentStep = ViolinStepsFactory.DesignColor;
        }
        else currentStep = ViolinStepsFactory.End;
    }

    private void DesignMilkChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = ViolinStepsFactory.End;
    }

    private void DesignDuploChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = ViolinStepsFactory.End;
    }

    private void DesignDiagonalinkChoosen(Item item)
    {
        itemCollection.Add(item, currentStep);
        currentStep = ViolinStepsFactory.End;
    }

    private void OnEnd()
    {

    }

    private void GoBack(Step step)
    {
        currentStep = step;
    }
}
