<div class="list-group">
    @foreach (var group in ItemCollection.Basket)
    {
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@group.Step</h5>
                <small>@group.Price</small>
            </div>
            @foreach (var item in group.Items)
            {
                <small>@item.Name</small>
            }
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public ItemCollection ItemCollection { get; set; }
}
