@*https://tailwindcomponents.com/component/simple-product-card-1
    https://tailwindcomponents.com/component/product-card-1*@

@if (Step == CurrentStep)
{
    <div class="bg-blue-100 min-h-full rounded-lg shadow mb-8 md:mr-8 md:mb-0">
        <h3 class="font-semibold px-6 pt-4 uppercase tracking-widest">Choose @Step.ToString()</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            @foreach (var item in Items)
            {
                <div class="flex p-1">
                    <div class="flex-none w-44 relative">
                        <img src="img/test-image.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" />
                    </div>
                    <form class="flex-auto py-7 px-8">
                        <div class="flex flex-wrap items-baseline">
                            <h1 class="w-full flex-none text-3xl text-black mb-1.5">
                                @item.Name
                            </h1>
                            <div class="text-lg leading-6 text-black">
                                @item.PriceText
                            </div>
                            <div class="text-sm text-gray-500 ml-3">
                                In stock
                            </div>
                        </div>
                        <div class="flex items-baseline mt-9 py-4 border-t border-gray-100">
                          

                            <div class="ml-auto text-sm font-light text-gray-500"> 
                            @item.Description
                            </div>
                        </div>
                        <div class="flex space-x-3 mb-3 text-sm font-semibold uppercase">
                            <div class="flex-auto flex space-x-3">
                                <button @onclick="() => OnChoiceMade.InvokeAsync(item)"
                                        class="w-1/2 flex items-center justify-center bg-black text-white"
                                        type="submit">
                                    Buy now
                                </button>
                                <button class="w-1/2 flex items-center justify-center border border-gray-200"
                                        type="button">
                                    Add to bag
                                </button>
                            </div>
                            <button class="flex-none flex items-center justify-center w-12 h-12 text-gray-900 border border-gray-200" type="button" aria-label="like">
                                <svg width="20" height="20" fill="currentColor">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                                </svg>
                            </button>
                        </div>
                        <p class="text-sm text-gray-500">
                            Free shipping on all continental US orders.
                        </p>
                    </form>
                </div>

            }
        </div>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<Item> Items { get; set; }

    [Parameter]
    public Step Step { get; set; }

    [CascadingParameter]
    public Step CurrentStep { get; set; }

    [Parameter]
    public EventCallback<Item> OnChoiceMade { get; set; }
}
