@inject IJSRuntime jsRuntime

<p class="tracking-wider text-lg text-gray-700 mb-8">
    Congratulations! You succeded to configure your case
</p>

<EditForm Model="model" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <div class="flex flex-col space-y-6">

        <div>
            <div class="max-w-sm">
                <label class="uppercase tracking-wide text-white bg-lumasuite text-xs font-bold mb-2 px-2 py-1 rounded-t">
                    Name
                </label>
                <InputText @attributes=@Style("block w-full border border-gray-400 rounded-b rounded-r py-3 px-4 outline-none focus:border-gray-600")
                           @bind-Value="model.Name" placeholder="Name" />

            </div>
        </div>

        <div>
            <div class="max-w-sm">
                <label class="uppercase tracking-wide text-white bg-lumasuite text-xs font-bold mb-2 px-2 py-1 rounded-t">
                    Email
                </label>
                <InputText @attributes=@Style("block w-full border border-gray-400 rounded-b rounded-r py-3 px-4 outline-none focus:border-gray-600")
                           @bind-Value="model.Email" placeholder="Email" />

            </div>
        </div>

        <div class="text-red-700 italic mb-4">
            <ValidationSummary />
        </div>

        <div class="flex justify-between items-center mb-4">


            <button class="flex items-center uppercase px-4 py-2 bg-lumasuite text-white text-lg
                    cursor-pointer rounded outline-none focus:outline-none"
                    type="submit">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z">
                    </path>
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
                <span class="ml-2">
                    Order Now
                </span>
            </button>

        </div>
    </div>

</EditForm>


@code {

    private OrderRequest model = new OrderRequest();

    [CascadingParameter]
    public ItemCollection ItemCollection { get; set; }

    private async Task HandleValidSubmit()
    {
        string body = new PlainBasketRenderer(ItemCollection).Render();
        await jsRuntime.InvokeAsync<object>("blazorExtensions.SendLocalEmail",
        new object[] { "info@lumasuite.com", "Order from desing-your-lumasuite-case", body });
    }

    public static Dictionary<string, object> Style(string style)
    {
        return new Dictionary<string, object>
    {
            { "class", style }
        };
    }
}
