<div class="w-full my-4">
    <div class="flex pb-3">
        <div class="flex-1">
        </div>

        @foreach (var (step, index) in Steps.Select((x, index) => (x, index)))
        {
            <div class="has-tooltip cursor-pointer">
                <span class="tooltip rounded shadow-lg py-1 px-2 bg-gray-100 text-lumasuite -mt-10">
                    @step.ToString()
                </span>
                <div class="flex-1">
                    <div class="w-10 h-10 
                         @(CurrentStep == step ? 
                           "ring-4 ring-gray-500 bg-gray-100 text-gray-500" 
                           : CurrentStep.WasCompleted(step) ? "bg-lumasuite text-white" : "bg-gray-300 text-white"
                          )
                         mx-auto rounded-full text-lg  flex items-center">
                        <svg class="w-6 h-6 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="flex items-center w-full mx-4">
                <div class="w-full rounded items-center align-middle align-center flex-1">
                    <div class="@(CurrentStep.WasCompleted(step) ? "bg-lumasuite" : "bg-gray-300")
                         text-xs leading-none py-1 text-center rounded">
                    </div>
                </div>
            </div>
        }


        <div class="has-tooltip">
            <span class="tooltip rounded shadow-lg p-1 bg-gray-100 text-red-500 -mt-8">
                End
            </span>
            <div class="flex-1">
                <div class="w-10 h-10  @(CurrentStep == CelloStepsFactory.End ? 
                           "ring-4 ring-gray-500 bg-gray-100 text-gray-500" : "bg-gray-300 text-white")
                     mx-auto rounded-full text-lg text-white flex items-center">
                    <svg class="w-6 h-6 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>


        <div class="flex-1">
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public Step CurrentStep { get; set; }

    [Parameter]
    public List<Step> Steps { get; set; }
}
