<div class="flex flex-col-reverse md:flex-row md:items-center md:justify-between md:border-b-2 border-gray-400 my-4">

    <h3 class="font-semibold uppercase tracking-widest font-semibold text-xl leading-tight sm:leading-normal my-1">
        @TitleText
    </h3>
    <span class="text-lumasuite text-xl leading-none uppercase">
        @SubtitleText
    </span>

</div>

@code {
    [Parameter]
    public RenderFragment TitleText { get; set; }

    [Parameter]
    public RenderFragment SubtitleText { get; set; }
}
